body {
    padding: 0;
    margin: 0;
}
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

nav, .hero {
    background-color: #1F2937;
}

nav {
    margin-bottom: 0;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    margin-top: 0;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.button1 {
    padding: 10px 33px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.content-boxes {
    display: flex;
    gap: 30px;
}

.boxes img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.boxes p {
    text-align: center;
}